
.ui.menu.fixed,
.ui[class*="left fixed"].menu {
  top: 75px;
  left: -60px;
  margin: 0px;
}

.ui.large.vertical.menu {
  width: 21rem;
}

.ui[class*="very thin"].left.sidebar,
.ui[class*="very thin"].right.sidebar {
  width: 60px;
  left: -60px;
}

.ui.sidebar {
  top:61px;
}

/* Chat sidebar */

.chat-sidebar {
  /* box-shadow: 1px 1px 15px #b8b9be,-1px -1px 15px #fff !important; */
  box-shadow: -12px -1px 12px #b8b9be !important;
  /* border: .0625rem solid #fafbfe !important; */
  border-right-style: none !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  font-size: 1.1rem !important;
  margin: 1rem !important;
  background: #e6e7ee !important;
}

.ui.segment {
  box-shadow: none !important;
  border: none !important;
  background: #e6e7ee !important;
}

.message__form {
  position: relative !important;
  z-index: 1;
  font-size: 0.7rem !important;
}

#message-container {
  box-shadow: inset 1px 1px 15px #b8b9be, inset -1px -1px 15px #fff, 1px 1px 15px #b8b9be,-1px -1px 15px #fff !important;
  border: .0625rem solid #fafbfe !important;
  background: #e6e7ee !important;
}

#metapanel {
  box-shadow: 10px 1px 10px #b8b9be !important;
  /* border: .0625rem solid #fafbfe !important; */
  border-left-style: none !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #e6e7ee !important;
}

/* 
  ##  Device      = Laptop 13inch
  ##  Screen      = 1378px
  .chat-column    = chat cont.
  .ui.comments    = chat font cont.
  .messages       = messages comp.
  .message__form  = form chat comp. 
*/

@media (max-width: 1378px) {
  /* .chat-column {
    margin-left: 240px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
  } */
  .ui.comments {
    font-size: 0.85rem;
  }
  .messages {
    height: 320px !important;
  }
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w to 1024px
  .chat-column    = chat cont.
  .ui.comments    = chat font cont.
  .messages       = messages comp.
  .message__form  = form chat comp.
  .ui.two.button  = button form chat comp.
  .ui.menu.fixed  = sidepanel comp.
*/

@media (max-width: 1024px) {
  .chat-column {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
  }
  .ui.comments {
    font-size: 0.85rem;
  }
  .messages {
    height: 520px !important;
    max-width: 1024px !important;
  }
  .ui.two.buttons {
    display:none;
  }
  .column {
    width: 1024px !important;
  }
  .ui.menu.fixed,
  .ui[class*="left fixed"].menu {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w to 768px
*/

@media (max-width: 768px){
  .column {
    width: 768px !important;
  }
  .ui.menu.fixed,
  .ui[class*="left fixed"].menu {
    display: none;
  }
  .chat-column {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
  }
  .ui.comments {
    font-size: 0.85rem;
  }
  .messages {
    height: 520px !important;
    max-width: 1024px !important;
  }
  .ui.two.buttons {
    display:none;
  }
}
