/* layout */

span:hover {
  color:#000 !important;
}

.row>.col:first-child {
  border-right: 1px solid #ccc;
  max-width: 400px;
}

.row>.col:last-child {
  background: #fafafa;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

@media all and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .row>.col:first-child {
    border-right: none;
    max-width: none;
  }
}

/** Resultlist Styling */

.css-1a2fxm3 svg.search-icon {
  fill:#E43F3560 !important;
}

.css-1a2fxm3 {
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 10px) !important;
}

.authors-list {
  color: rgb(129, 129, 129);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05em;
}

.paper-description {
  color: #000;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}

.ratings-list {
  padding: 10px 0;
}

.avg-rating {
  color: #6b6b6b;
  margin-left: 5px;
}

.stars {
  color: gold;
}

.location {
  color: salmon;
  margin-right: 5px;
}

.meetup-location {
  margin: 4px 0;
}

h3.book-title {
  white-space: normal;
  margin-top: 4px;
  letter-spacing: 0.075em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 550px;
}

.book-title-card {
  white-space: normal;
  margin-top: 4px;
  max-height: 45px;
}

.book-image {
  height: 150px;
  width: 110px;
  background-size: cover;
}

.book-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-content {
  background: white;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.meetup-title {
  white-space: normal;
}

.meetup-topics {
  height: 35px;
  overflow: hidden;
}

.meetup-topic {
  background-color: #dedede;
  color: #555;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.meetup-topic:first-child {
  margin-left: 0;
}

.col .meetup-list-image {
  background-size: cover;
}

/* 
  //  Responsive Course & Paper Page 
  //  for Tab Device 
*/
@media (max-width: 1024px) {
  .toggle-button {
    display: block;
  }

  .left-bar-optional {
    width: 60%;
    z-index: 0;
    -webkit-position: relative;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    box-shadow: none;
    border-radius: 5px;
    min-width: 200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 180px;
  }

  .left-bar,
  .result-container-optional {
    display: none;
  }

  .result-item {
    margin: 5px !important;
    border-color: #333333 !important;
    border-radius: 3px !important;
    max-width: 600px !important;
    height: 500px !important;
  }

  .result-image {
  height: 380px !important;
  width: 600px !important;
  margin-bottom: 7px;
  }

  .result-stats {
    color: #d3d3d3;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar {
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .logo-container {
    width: 50%;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 0px;
  }

  .app-logo {
    margin-left: 0px !important;
    margin-top: 0px;
    width: 140px;
    height: 30px;
  }

  .menu-container {
    width: 50%;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 0px;
    top: 0px;
  }

  .toggle-container {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    background-color: #fff;
    margin-left: 0px;
  }

  .search-container {
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .result-container {
    width: 100%;
    margin-top: 140px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .todo-component {
  display: none;
  }
}

/* Responsive styling Mobile */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }
  
  .left-bar-optional {
    width: 60%;
    z-index: 0;
    -webkit-position: relative;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    box-shadow: none;
    border-radius: 5px;
    min-width: 200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 180px;
  }

  .left-bar,
  .result-container-optional {
    display: none;
  }

  .logo-container {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 0px;
  }

  .app-logo {
    margin-left: 0px !important;
    margin-top: 0px;
    width: 140px;
    height: 30px;
  }

  .toggle-container {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    background-color: #fff;
    margin-left: 0px;
  }

  .search-container {
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .result-container {
    width: 100%;
    margin-top: 140px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .result-item {
    margin: 5px !important;
    border-color: #333333 !important;
    border-radius: 3px !important;
  }

  .todo-component {
  display: none;
  }

  .result-stats {
    color: #d3d3d3;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}
