#metapanel {
  width: 100%;
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w to 1024px
*/

@media (max-width: 1024px) {
  #metapanel {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w to 768px
*/

@media (max-width: 768px){
  #metapanel {
    display: none;
  }
}